<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <!-- Listener uses using xml file -->
    <listeners>
        <!-- Listener  methods class  -->
        <listener class-name="org.example.Listener.CustomListener"></listener>
    </listeners>
    <test name="ListenerTest">
        <classes>
            <class name="org.example.Listener.ListenerTest">
            </class>
        </classes>
    </test>
</suite>